
/* 
.product-details{
    display: flex;
    justify-content: space-between;
}


.product-details-1 img{
    max-width: 100%;
    
}

.product-details-2{
    margin: 0px 0px 0px 48px;
}
.product-details-2 h1{
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 400;
    
} */


.product-details-container {
    display: flex;
}