.checkout-container {
    width: 46%;
    
    padding: 24px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 24px 0;
    width: 100%;
}

.tr-border th{
    font-weight: bold;
}

.checkout-review-order-table table th{
    border: none;
    padding: 6px 0;
}
.checkout-review-order-table  table td{
    border-bottom: 1px solid #e0e0e0;
    padding: 18px 0;
}

.product-total{
    text-align: right;
}

.tr-border{
    border: none;
    text-align: left
}

.tr-border th{
    font-weight: 700;
}

.tfoot th{
    text-align: left;
}

.cart-subtotal-checkout {
    text-align: right;
}

.tfoot td{
    text-align: right;
    font-weight: 400;
}

.order-total span{
    font-size: 25px;
    font-weight: 700;
}

.checkout-container table th{
    border: none;
}

.checkout-container table tr{
    border: none;
}

.checkout-container table td{
    border: none;
}


.checkout-container label{
    font-weight: 600;
}

.payment{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.checkout-btn{
    
    justify-content: center;
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid var(--hover);
    background-color: var(--hover);
    padding: 12px 25px;
    transition: all .42s ease;
}

.checkout-btn:hover{
    background-color: var(--hover);
    color: var(--primary);

}
